[Unit]
Description=age-plugin-yubikey-agent socket

[Socket]
ListenStream=%t/com.brongan.age-plugin-yubikey-agent/daemon.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target

